body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    align-items: center;
    background-color: #c3e4f4;
}

h1, h2 {
    color: #333;
}

.section {
    margin-bottom: 30px;
    background: #8eceeb;
    border-radius: 10px;
    padding: 20px;
}

.section h2 {
    margin-bottom: 10px;
    color: #194861;
}

.section p {
    margin-bottom: 5px;
}

header{
    background: #185574;
}

.header h1{
    color: #f2f9fd;
}

i{
    font-size: 36px;
}

.section-habilidades{
    margin-bottom: 20px;
    
}


.section-habilidades div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: #8eceeb;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #185574;
}

a:hover{
    color: white;
}