
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');



/* Nav Bar */

.navbar{
    padding: 1rem;
    background-color: #575656;
}

#link{
    color: white;
}

#link:hover{
    font-weight: bold;
}


.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/* Estilos genrales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}





/* Seccion hero */

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

h1{
    font-size: 3rem;
    font-family: 'Inconsolata',sans-serif;
    font-weight: bold;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

.seccion-oscura{
    color: white;
    background-color: #575656;
}

.seccion-clara{
    color:black;
    background-color: white;
}

.seccion-titulo{
    font-size: 4rem;
    padding: 15px 0;
    font-family: 'Inconsolata',sans-serif;
}

.seccion-text{
    height: 1.2rem;
}


.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* Sobre mi  */
.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}


/* Experiencia */

.experiencia{
    padding: 40px 40px 60px 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition:  all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}



.experiencia i{
    font-size: 2.5rem;
    color:#7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges{
    margin: 5px
}




/* Articulos */

.articulos{
    min-height: 500px;
    padding: 30px;
}

.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header{
  font-weight: bold;
}


/* Testimonios */
.testimonios{
    padding: 40px 40px 80px 40px;
}


.testimonios .carousel{
    max-width: 1000px;

}


.carousel-item{
    height: 800px;
    
}


.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.testimonio-imagen{
    width: 100%;
    height: 100%;
    margin: 10px 10px 20px 10px;
}


.testimonio-texto{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono',monospace;
}

.testimonio-info{
    font-weight: bold;
    text-align: center;
}


.testimonio-info p{
   margin-bottom: 0;
}

.testimonio-footer .cliente{
    font-size: 1.2rem;
 }

.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;
 }

/* Contacto */

.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{

    margin-top: -5rem;
    background-color: rgb(5, 28, 63);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color:transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2 ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: #0a0a23;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2 ease-in-out;
}

.contacto button:hover i {

    color: #0a0a23;
}


/* footer */

footer{
    min-height: 500px;

}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}


.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand',sans-serif;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;

}


.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid  white;
    border-radius: 50%;
    color: transparent;
    transition: all 0.2 ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110,253);
}


.iconos-redes-sociales a:hover i{
    color: black;
}


@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }
    .sobre-mi{
        height: 700px;
        padding: 10px;
    }
    .carousel-item .container{
        width: 70%;
        height: 70%;
       
     
    }
    
}
    
@media screen and (min-width:700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
    .carousel-item .container{
        width: 70%;
        height: 70%;
       
     
    }
    
}
    
@media screen and (max-width: 800px){
    .testimonio-imagen{
        height: 250px;
        width: 250px;
    }
    
    
    .testimonio-texto{

        font-size: 18px;
     
    }
    
.carousel-item .container{
    width: 70%;
    height: 70%;
   
 
}


    
}